version.ini
.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.plugins/org.eclipse.core.resources/.projects/*/.location

.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.recommenders

.externalToolBuilders/
*.launch
*.pydevproject

.cproject

.factorypath

.buildpath

.target

.tern-project

.texlipse

.springBeans

.recommenders/

.cache-main
.scala_dependencies
.worksheet
	
.classpath